<h2>Make a Moutain</h2>
<form action="/mountains" method="post">
	<p>Name : <input type="text" name="mountain[name]"></p>
	<p>Image: <input type="url" name="mountain[image]"></p>
	<p>Deaths: <input type="text" name="mountain[deaths]"></p>
	<p>Height: <input type="text" name="mountain[height]"></p>
	<input type="submit" value="Create Mountain">
</form>